#nav {
	border-bottom: 1px solid #e8e8e8;
	background: #fff;
}

.navbar-search {

	padding-top: 8px;
}

.navbar-brand {
	margin: 0 auto;
	font-size: 18px;
}

.navbar-brand img {
	float: left;
}

.navbar-brand .title {
	margin-left: 5px;
	padding-top: 5px;
	float:left;
}