.season-row {
	padding: 10px 10px 10px 10px;
	border-bottom: 1px solid #e8e8e8;
	curosr: pointer;
}

.season-row a {
	color: #000;
}

.season-title {
	text-align: left;
	font-size: 20px;
}

.season-intro {
	text-align: left;
	font-size: 15px;
	color: #999;
}
